$font: Helvetica, sans-serif;
$font-color: rgb(68, 66, 66);
$background-cards: rgb(165, 162, 162);
$border-color: rgb(46, 175, 121);
$background-button: rgb(132 187 143);
$background-button-hover: rgb(176, 205, 193);
$title-size: 18px;
$text-size: 14px;
$button-text-size: 12px;
