$font: Helvetica, sans-serif;
$font-color: rgb(68, 66, 66);
$button-font-color: white;
$bright-color: #ff4500;
$translucent-bright-color: #f8885e6b;
$background-cards: rgb(165, 162, 162);
$border-color: rgb(119, 153, 139);
$background-button: #f45a29c9;
$background-button-hover: rgba(182, 84, 45, 0.923);
$big-font: 22px;
$title-size: 18px;
$text-size: 14px;
$button-text-size: 12px;
